bin/
obj/
node_modules/
.vs/
frontend/build/favicon.ico
frontend/build/index.html
frontend/build/assets/countdown-9bf2524b.js
frontend/build/assets/countdown-612e197e.css
frontend/build/assets/email-b911fcd5.js
frontend/build/assets/entry-4cf7f503.js
frontend/build/assets/entry-ce128b11.js
frontend/build/assets/index-1d324c34.js
frontend/build/assets/index-57c5e5ff.css
frontend/build/assets/index-62c5eefb.js
frontend/build/assets/index-4888969d.css
frontend/build/assets/login-c41edf18.js
frontend/build/assets/logo-d112eef0.png
frontend/build/assets/primeicons-5e10f102.svg
frontend/build/assets/primeicons-90a58d3a.woff
frontend/build/assets/primeicons-131bc3bf.ttf
frontend/build/assets/primeicons-3824be50.woff2
frontend/build/assets/primeicons-ce852338.eot
frontend/build/assets/qrcode.vue.esm-5363c959.js
frontend/build/assets/quote-c3c7f3ba.css
frontend/build/assets/quote.vue_vue_type_style_index_0_lang-87e829eb.js
frontend/build/assets/totp-28e6f131.js
frontend/build/assets/vee-validate.esm-5850a7ed.js
/backend/CicadaKillerWasp.Slack/appsettings.Development.json
/backend/CicadaKillerWasp.Server/appsettings.Development.json
/backend/CicadaKillerWasp.Server/serviceAccountKey.json
